---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../assets/icons/github-icon.astro";
import SocialBadge from "../components/SocialBadge.astro";
import GitHubIcon from "../assets/icons/github-icon.astro";
import LinkedInIcon from "../assets/icons/linkedin-icon.astro";
import MailIcon from "../assets/icons/mail-icon.astro";
import Experience from "../components/Experience.astro";
import ExperienceIcon from "../assets/icons/experience-icon.astro";
import ProjectsIcon from "../assets/icons/projects-icon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio de Alejandro S치nchez - Desarrollador y Programador Web Fullstack"
  description="Contrata a un desarrollador y programador web Fullstack con experiencia en la creaci칩n de productos 칰tiles y atractivos. Descubre mis proyectos y habilidades en el mundo del desarrollo. 춰Cont치ctame para colaborar en tu pr칩ximo proyecto!"
>
  <main class="px-4">
    <Section class="py-44 pb-24">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb:6 lg:pb-10"
      >
        Hello there!游녦 Soy Alex <a
          href="https://www.linkedin.com/in/alejandro-s%C3%A1nchez-sergueev/"
          class="flex justify-center items-center"
          target="_blank"
          rel="noopener"><Badge>Disponible</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-cyan-100/90">Desarrollador Fullstack Junior</span> con
        background en Ciencias. Apasionado por el mundo del desarrollo, el trabajo
        en equipo y la creaci칩n de productos 칰tiles y atractivos. <span
          class="opacity-80">De Madrid, Espa침a.</span
        >
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialBadge href="https://github.com/AxelothLeohryn">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialBadge>
        <SocialBadge
          href="https://www.linkedin.com/in/alejandro-s%C3%A1nchez-sergueev/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          Linkedin
        </SocialBadge>
        <SocialBadge>
          <MailIcon class="size-4 md:size-6" />
          alejandro.sanserg@gmail.com
        </SocialBadge>
      </nav>
    </Section>
    <Section id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <ExperienceIcon class="size-4 md:size-6" />Experiencia y Educaci칩n
      </h2>
      <Experience />
    </Section>
    <Section id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <ProjectsIcon class="size-8 md:size-10" />Proyectos
      </h2>
      <Projects />
    </Section>
  </main>
</Layout>
